.container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url("./profile-bg.jpg");
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(223, 220, 220);
}
